<h1>Enter Grade Cutoffs</h1>
  <%= form_tag cutoff_path do %>    
    <%=hidden_field_tag "plus_minus", @plusminus %>
    <th>A/A- minimum<th>
    <input type = "decimal" name = "Acut">
    <br />
    <th>B/B- minimum<th>
    <input type = "decimal" name = "Bcut">
    <br />
    <th>C/C- minimum<th>
    <input type = "decimal" name = "Ccut">
    <br />
    <th>D/D- minimum<th>
    <input type = "decimal" name = "Dcut">
    <br />
    <br />
    <%= submit_tag "Submit" %>
    <% end %>
